
* { box-sizing: border-box; margin: 0; padding: 0; }

@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');


html, body {
  height: 100%;
  font-family: Georgia, serif;
}

@font-face {
  font-family: "Geraldine";
  src: url("fonts/Geraldine.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}




body {
  display: grid;
  place-items: center;
  background: #111;
  overflow: hidden;
}

.phone-shell {
  width: min(100vw, 390px);
  height: 100vh;
  max-height: 844px;
  overflow: hidden;
}


.app {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}


.page {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

 
  padding: 48px 24px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.page-hero,
.page-details,
.page-rsvp,
.page-footer {
  background-image: url("media/background.png");
}


.section-card {
  width: 100%;
  max-width: 340px;

  min-height: 75vh;          
  padding: 28px 22px;


  background: rgba(255, 255, 255, 0.60);

  border-radius: 22px;
  box-shadow: 0 20px 45px rgba(0,0,0,0.18);
  border: 1px solid rgba(255,255,255,0.45);

  display: flex;
  flex-direction: column;
  justify-content: space-between;


  backdrop-filter: blur(2px);
}

/* SECTION 1 (Invite card text styles)*/
.parents {
  font-size: px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  line-height: 1.55;
  color: rgb(70, 50, 13);
  text-align: center;
}

.parents .amp {
  letter-spacing: 0;
  font-size: 15px;
}

.invite-text {
  font-size: 13px;
  line-height: 1.55;
  color: rgba(70, 50, 13);
  text-align: center;
  margin-top: 10px;
}

.couple {
  text-align: center;
  margin-top: 12px;
}

.couple-name {
  font-family: "Geraldine", cursive;
  font-size: 50px;
  line-height: 1.1;
  color: rgba(70, 50, 13);
}

.couple-amp {
  font-family: "Brush Script MT", "Segoe Script", "Snell Roundhand", cursive;
  font-size: 30px;
  margin: 6px 0;
  color: rgba(70, 50, 13);
}

/* SECTION 2 (Details layout)*/

.page-details{
  text-align: center;
}

.details-card{
  padding: 30px 20px;
}

.detail-row{
  display: flex;
  flex-direction: column;    
  align-items: center;
  justify-content: center;
  gap: 12px;

  padding: 24px 0;
  border-top: 1px solid rgba(0,0,0,0.08);
}

.detail-row:first-of-type{
  border-top: none;
}


.icon{
  background: none;
}


.icon img{
  width: 30px;      
  height: 30px;
  object-fit: contain;
  display: block;
}


.detail-value{
  font-size: 16px;
  line-height: 1.6;
  color: rgba(70, 50, 13);
}


.map-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
}




.cssbuttons-io {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;     
  height: 60px;    

  border-radius: 14px; 

  text-decoration: none;
  cursor: pointer;
  border: none;

  overflow: hidden;
  color: ghostwhite;
}



.cssbuttons-io span {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;   
}


.cssbuttons-io::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10%;
  width: 120%;
  height: 100%;
  background: #817b69;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  z-index: 0;
}
.waze-btn::before {
  background: #96d7ff; 
}


.maps-btn::before {
  background: #75ee95; 
}

.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
  transform: scale(0.95);
}


.waze-btn {
  background: linear-gradient(to right, #33ccff, #0066ff);
}


.maps-btn {
  background: linear-gradient(to right, #34a853, #0f9d58);
}

.cssbuttons-io img {
  width: 45px;     
  height: 45px;
  object-fit: contain;
}




/* section 3 - DOA PENGANTIN – BISMILLAH*/

.page-footer .content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  gap: 18px;
}


.bismillah {
  width: 160px;
  max-width: 70%;
  margin-bottom: 10px;
  opacity: 0.9;
}


.page-footer p {
  font-size: 14px;
  line-height: 1.8;
  color: rgba(70, 50, 13);
}


.page-footer p strong {
  display: block;
  margin-top: 6px;
  font-size: 15px;
  letter-spacing: 0.04em;
}


.page-footer em {
  font-style: italic;
  font-weight: 500;
}


@media (max-width: 430px) {
  .bismillah {
    width: 140px;
  }

  .page-footer p {
    font-size: 13.5px;
  }
}

/* SECTION 4 */

.page-contact {
  background-image: url("media/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;
  padding: 32px 24px;
  padding-top: 80px;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}


.page-contact .stack {
  width: 100%;
  max-width: 340px;

  display: grid;
  gap: 16px;
}


.page-contact .section-card {
  min-height: unset;
}



.page-contact .content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  gap: 14px;
}

.page-contact .footer-title {
  font-size: 15px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
}

.page-contact .footer-text {
  font-size: 14px;
  text-align: center;
  color: rgba(70, 50, 13);
}

.page-contact .footer-note {
  font-size: 13px;
  opacity: 0.6;
  margin-top: 6px;
  text-align: center;
}



.page-contact .contact-list {
  width: 100%;
  display: grid;
  gap: 14px;
  margin: 12px 0;
}

.page-contact .contact-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 14px;
  border-radius: 14px;
  background: rgba(0,0,0,0.04);
}

.page-contact .contact-name {
  font-size: 14px;
  color: rgba(70, 50, 13);
}


.page-contact .icon-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;

  display: grid;
  place-items: center;

  text-decoration: none;
  font-size: 16px;

  background: #000;
  color: #fff;
}

.page-contact .icon-btn:active {
  transform: scale(0.95);
}

/* SECTION 5 */


.primary-button {
  font-family: 'Ropa Sans', sans-serif;
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.05rem;
  border: 1px solid #0E1822;
  padding: 0.8rem 2.1rem;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 %7D %3C/style%3E%3C/defs%3E%3Cg%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/svg%3E");
  background-color: #0E1822;
  background-size: 200%;
  background-position: 200%;
  background-repeat: no-repeat;

  transition: 0.3s ease-in-out;
  transition-property: background-position, border, color;

  position: relative;
  z-index: 1;


  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.primary-button:hover {
  border: 1px solid #FF4655;
  color: white;
  background-position: 40%;
}

.primary-button::before {
  content: "";
  position: absolute;
  background-color: #0E1822;
  width: 0.2rem;
  height: 0.2rem;
  top: -1px;
  left: -1px;
  transition: background-color 0.15s ease-in-out;
}

.primary-button::after {
  content: "";
  position: absolute;
  background-color: #FF4655;
  width: 0.3rem;
  height: 0.3rem;
  bottom: -1px;
  right: -1px;
  transition: background-color 0.15s ease-in-out;
}

.primary-button:hover::before,
.primary-button:hover::after {
  background-color: white;
}

.button-borders {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 16px auto 0; 
}

.button-borders::before {
  content: "";
  position: absolute;
  width: calc(100% + 0.5em);
  height: 50%;
  left: -0.3em;
  top: -0.3em;
  border: 1px solid #0E1822;
  border-bottom: 0;
}

.button-borders::after {
  content: "";
  position: absolute;
  width: calc(100% + 0.5em);
  height: 50%;
  left: -0.3em;
  bottom: -0.3em;
  border: 1px solid #0E1822;
  border-top: 0;
  z-index: 0;
}

