html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: black;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: black;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.click-anywhere {
  position: absolute;
  left: 50%;
  bottom: 12%;
  transform: translateX(-50%);
  padding: 12px 18px;

  font-family: Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;

  background: rgba(0,0,0,0.45);
  border: 1px solid rgba(255,255,255,0.35);
  border-radius: 999px;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.35s ease;
}

.click-anywhere.show {
  opacity: 1;
}

.tap-layer {
  position: absolute;
  inset: 0;
  display: none;
  background: transparent;
}

.tap-layer.active {
  display: block;
  cursor: pointer;
}



.button2 {
  position: absolute;
  left: 50%;
  bottom: 12%;
  transform: translateX(-50%);

  display: inline-block;
  transition: all 0.2s ease-in;
  overflow: hidden;
  z-index: 10;

  color: #090909;
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;

  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #ffffff;

  opacity: 0;
  pointer-events: none;
}

.button2.show {
  opacity: 1;
  pointer-events: auto;
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
              inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.button2:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}


@media (max-width: 480px) {
  .button2 {
    font-size: 15px;
    bottom: 10%;
  }
}

.button2 {
  z-index: 20;           
  pointer-events: none;  
}

.button2.show {
  pointer-events: auto;  
}

.button2 img {
  width: 35px;     
  height: auto;
  display: block;
  margin: 0 auto;
}
